/* for seconde column to control the overflow*/

.remove-scrollbar::-webkit-scrollbar {
    display:none;
}

.remove-scrollbar{
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
}
/*second column email section */
.email-text-column{
    background-color: rgb(235, 235, 235);
}

.email-text-column:hover{
    background-color: rgb(248,249,250);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.logo-image{
    border-radius: 50%;
    width:50px;
}

/*compose off canvas send buttton */
.sent-massage{
    height: 200px;
}

/*nav-bar*/
.nav-contaner{
    width: calc(100% + 10px);
}

/*user offcanvas account section*/
#offcanvasExample{
   width: 300px;
}

#account-section-area{
    height: 350px;
}

#offcanvasScrolling{
    width: 300px
}

#col-2-email-section{
    background-color: rgb(194, 194, 194);
}


#col-3-opened-email-div{
    height: 380px;
}

#col-3-reply-email-div{
   height: 300px;
}

#replay-textarea{
    height: 170px;
}